*{
    padding: 0px;
    margin: 0px;
}

body{
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#header{
    position: relative;
    height: 100vh;
    width: 100vw;
}

#background_image_loader{
    width: 100%;
    position: absolute;
    display: flex;
    overflow-x: hidden;
}

.slider{
    width: 100vw;
    height: 100vh;
    position: relative;
    animation: sliding 50s ease-in-out infinite;
}

#upper-header{ 
    position: relative;
    display: flex;
    justify-content: space-between;
}

#upper-header img{
    width: 20%;
    background: #fff;
}

#menu{
    margin-right: 0px;
    justify-content: right;
}

.sub-menu{
    position: relative;
    display: flex;
    overflow: hidden;
    font-size: 17px;
    font-weight: 200;
    overflow: hidden;
    margin-top:0px;
}

.bg-opacity::before{
    content: " ";
    display: inline-block;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    opacity: 0.60;
}

.black-bg::before{
    background: black;
}
.white-bg::before{
    background: white;
}

.black-bg{
    color: #fff;
}

.white-bg{
    color: #000;
}

#upper-header a{
    margin: 5px 20px 5px 20px;
}

.layyer-up{
    z-index: 2;
}

.at-end{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100vw;
    bottom: 0px;
    padding: auto;
    z-index: 2;
    color: #fff;
}

.flex-container{
    display: flex;
    align-items: center;
    height: 8em;
    
}
.flex-container:hover{
    background: rgb(245, 50, 50)
}

.for-center-text{
    height: auto;
    margin: auto 0px;
    width: fit-content;
}

.reduce-size-of-icon{
    height: 50%;
    margin: 0px 5%;

}

.reduce-size-of-img{
    width: 15vw;
}

.increased-font-size{
    font-size: 2em;
}

.font-size-1em{
    font-size: 1.3em;
}

@keyframes sliding{
    8.33%{transform: translateX(-100%);}
    14.64%{transform: translateX(-100%);}
    16.66%{transform: translateX(-200%);}
    22.97%{transform: translateX(-200%);}
    24.99%{transform: translateX(-300%);}
    31.31%{transform: translateX(-300%);}
    33.32%{transform: translateX(-400%);}
    39.63%{transform: translateX(-400%);}
    41.65%{transform: translateX(-500%);}
    47.96%{transform: translateX(-500%);}
    49.98%{transform: translateX(-600%);}
    56.29%{transform: translateX(-600%);}
    58.31%{transform: translateX(-700%);}
    64.62%{transform: translateX(-700%);}
    66.64%{transform: translateX(-800%);}
    72.75%{transform: translateX(-800%);}
    74.77%{transform: translateX(-900%);}
    81.31%{transform: translateX(-900%);}
    83.33%{transform: translateX(-1000%);}
    89.61%{transform: translateX(-1000%);}
    91.63%{transform: translateX(-1100%);}
    100%{transform: translatex(-1100%);}
}

#footer{
    position: relative;
    display: flex;
    background: rgb(34, 29, 29);
    color: white;
}

.footer-sub-part{
    display: flex;
    flex-direction: column;
    width: 200em;
    margin: 10px 20px;
}

hr{
    width: 6em;
    margin-bottom: 10px;
}

.footer-links{
    width: 100%;
    padding: 10px 0px;
    border-bottom: 1px solid white;
}

#footer .footer-sub-part p{
    font-size: 1em;
    text-align: justify;
}
.footer-heading{
    color: rgb(225, 64, 64);
    margin: 10px 0px;
}