*{
    margin: 0;
    padding:0;
}

#mainContainer{
    display: flex;
}

#recipeContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    border: 3px solid #000;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    color:darkgoldenrod;  
    margin: 20px;
}

img{
    height: 200px;
    width: 200px;
    margin: 10px auto;
}